 body {
    font-family: 'Roboto', sans-serif;
	color:#000;
}
.login-btn.text-right {
    text-align: right;
    padding-top: 3vw;
}
.header-banner-section .container {
    max-width: 65%;
}
img.ing-fluid.logo-eranworld {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 22vw;
}
.counter-box:hover {
    background: #4eb7f1 !important;
}
.login-btn a:hover {
    background: #000;
}
 .container {
    max-width: 1180px;
}	
.header-banner-section {
    background-image: url("./images/banner-mask.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    min-height: 48vw;
    position: relative;
}
.login-btn a {
    background: #4EB7F1;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    min-width: 6vw;
    text-align: center;
    height: 2vw;
    padding: 0px;
    line-height: 1.8vw;
    border-radius: 99px;
    font-size: 1.2vw;
    font-weight: 500;
    font-family: 'Raleway', sans-seri;
}


.counter-box-main {
    display: block;
    padding: 0px 20px 166px;
    text-align: center;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.counter-box p {
    margin: 18px 0 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}
.counter {
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
    text-align: center;
}
.counter-box {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 29px 10px;
    min-height: 168px;
}
.mt-neg {
    transform: translateY(-4vw);
}
.row.medialove-brand .d-flex.flex-wrap {
    justify-content: center;
    gap: 20px;
}
.row.medialove-brand .d-flex.flex-wrap img {
    width: 176px;
}
.row.medialove-brand .d-flex.flex-wrap {
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
h2 {
    font-size: 46px;
    font-weight: 700;
}
.row.medialove-brand {
    margin-top: -32px;
}
.counter-box {
    margin-bottom: 15px;
}



section.threeinone {
    background-color: #4EB7F1;
}
.align-item-center {
    align-items: center;
}

ul.store-list li {
    font-size: 36px;
    list-style-type: none;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
ul.store-list li span {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 100px 100px 0px;
    display: inline-block;
    padding: 13px 15px 13px 14px;
    margin-left: -42px;
    text-align: center;
    flex: 1;
}

ul.simmple-list-cst {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}
ul.simmple-list-cst li {
    font-size: 30px;
    font-weight: 500;
}

ul.simmple-list-cst li span {
    background-color: #4EB7F1;
    color: #fff;
    display: inline-flex;
    padding: 17px 3px 17px 52px;
    border-radius: 0px 999px 999px 0px;
    width: 100%;
}
ul.simmple-list-cst li img {
    margin-right: -36px;
    z-index: 1;
}
ul.store-list li img.img-fluid.store-img {
    position: relative;
    height: 95px;
}
ul.simmple-list-cst li {
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.d-flex.w-80 {
    justify-content: right;
    gap: 28px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-top: 46px;
}
.admited-logo {
    margin-right: 19px;
    line-height: normal;
}
.threeinone-col {
    text-align: center;
}
img.img-fluid.phone-mockup {
    margin: -100px 0px -47px;
}

.text-center.buter-img01 {
    margin-top: -128px;
    padding-bottom: 7px;
}
.card-title img {
    position: relative;
    height: 175px;
    object-fit: contain;
    width: auto;
    margin-bottom: 28px;
    margin-top: 50px;
}

.img-circle-bx:before {
    content: "";
    background: #F7F7F7;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 0;
}
.img-circle-bx {
    position: relative;
}
.card-title h3 {
    font-size: 26px;
    line-height: 33px;
    max-width: 240px;
    margin: 21px auto 0px;
    font-weight: 500;
}
img.mt-neg-22 {
    transform: translate(-65px, -65px);
}
.des-cst {
    font-size: 24px;
    font-weight: 400;
}
.bg-sky {
    background: #4EB7F1;
    color: #fff;
}
section.collaboration.py-5 {
    background: #F7F7F7;
}
section.collaboration.py-5 img.img-fluid {
    margin-bottom: 0px;
    margin-top: 37px;
}
img.img-fluid.pl-3 {
    margin-left: 37px;
}
.logoexchange img {
    padding: 13px;
}
h4.blue-bg-card {
    background: #4EB7F1;
    color: #fff;
    padding: 28px 12px;
    border-radius: 12px;
    width: 43%;
    text-align: center;
    font-size: 35px;
    min-height: 119px;
    margin: 0px;
}
.card-gap {
    gap: 20px;
}

img.ml-neg-22 {
    margin-bottom: 0;
    margin-right: 15px;
    transform: translateY(-61px);
}
.word-wart img {
    max-width: 324px;
}

.word-wart:before, .word-wart:after {
    content: "";
    width: 180px;
    height: 180px;
    background: #F7F7F7;
    position: absolute;
    border-radius: 50%;
}
.word-wart {
    position: relative;
}
.word-wart:before {
    left: -85px;
    top: -52px;
}
.word-wart:after {
    bottom: -59px;
    right: 11px;
}
.word-wart img {
    position: relative;
    z-index: 2;
}
.col-5.text-right {
    text-align: right;
    transform: translateY(46px);
}
.coll-sm-4.mr-3 {
    margin-right: 17px;
}
.scantodownloiad {
    font-size: 35px;
    line-height: normal;
    font-weight: 400;
    margin-left: 25px;
}
.des {
    font-size: 25px;
    line-height: 35px;
    margin: 25px 0 14px;
}
img.mt-00geg10 {
    margin-top: -64px;
}

.des-contetn {
    font-size: 27px;
    max-width: 739px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 37px;
}
img.stake-confinednde.mt-5.pt-5.mb-5.pb-4 {
    width: 100%;
}
ul.list-des-cst li {
    font-size: 26px;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
ul.list-des-cst {
    padding: 0px;
}
.text_step {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}
.text_step {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    display: flex;
    align-items: end;
    margin-left: 21px;
    margin-bottom: -10px;
    color: #000;
}
.btr-230 {
    text-align: right;
    max-width: 472px;
    margin-bottom: 16px;
}

section.smarter-way.pt-5.light-grey {
    background-color: #edf8fe;
    padding-bottom: 86px;
    position: relative;
}
img.waves-vecctor.img-fluid {
    margin-bottom: -114px;
    width: 100%;
}
.col-lg-6.pos-relative {
    position: relative;
}

.text-right.pos-abslute {
    text-align: right;
    margin-top: -148px;
    padding-bottom: 30px;
}
.text-center.mt-geg-center {
    margin-top: -146px;
}
img.coin_cartoon {
    margin-bottom: -161px;
    position: relative;
}

@media(max-width:767px){
	
img.ing-fluid.logo-eranworld {top: 46%;width: 51vw;}	
.header-banner-section {min-height: 62vw;background-size: cover;}
.mt-neg {transform: translateY(0vw);}	
.login-btn a {font-size: 18px; height: auto !important;line-height: normal !important;padding: 9px 18px;}
.login-btn.text-right { padding-top: 7px;}	
.counter-box-main {padding: 40px 20px 50px;}
.row.medialove-brand {margin-top: 26px;}
section.counter-box-main .row.mt-neg .four {width: 50%; padding: 5px;}
.row.medialove-brand .d-flex.flex-wrap img {width: 100px;}
.counter-box {height: 100%;min-height: auto;padding: 10px;}
.text-center.buter-img01 {margin-top: 0;}
ul.store-list li span {font-size: 20px;}
ul.store-list li img.img-fluid.store-img {height: 62px;}
.col-lg-7.threeinone-col img {max-width: 135px;margin-bottom: 25px;}
.d-flex.w-80 {justify-content: center;gap: 10px;margin-top: 10px;}
section.threeinone {padding-bottom: 47px;}
.admited-logo {font-size: 15px;margin-right: 2px;}
.coll-sm-4 img {max-width: 107px;}
h2 br {display: none;}
.des-cst {font-size: 14px;}
.card-title h3 {font-size: 16px;}
section.elimintate-emotion.py-5 {padding: 0px 0px 39px !important;}
.content.row.text-center.mb-4 .col-8 {margin: 20px 0;}
ul.store-list {padding: 0px;}
.counter {font-size: 30px;}
.counter-box p {font-size: 12px;line-height: 19px;margin-top: 0px;}
.row.medialove-brand .d-flex.flex-wrap {gap: 5px;margin-top: 14px;}	
.d-flex {flex-wrap: wrap;}	
img.img-fluid.phone-mockup {margin: 34px auto;}
img.mt-neg-22 {transform: translate(0px, 0px);}
.content.row.text-center.mb-4 .col-8 {flex: unset !important;width: 100% !important;}
section.elimintate-emotion.py-5 .col-2 img {width: 86px;position: absolute;top: 17px;}
section.elimintate-emotion.py-5 .content.row.text-center.mb-4 {margin-bottom: 0px !important;}
.des-contetn {font-size: 16px;line-height: 22px;margin-bottom: 24px;}
section.elimintate-emotion.py-5 {position: relative;}
.col-2.top-right-mob img {right: 20px;}
.col-2.top-left-mob img {left: 20px;}
.container {max-width: 100%;}
img.coin_cartoon {width: 100%;max-width: 205px;}
.text-right.pos-abslute {text-align: center;margin-top: 26px;}
.btr-230 {text-align: center;}
h4.blue-bg-card {width: 48%;font-size: 16px;line-height: 22px;min-height: auto;}
.card-gap {gap: 10px;}
.col-5.text-right {text-align: center !important; width: 100%;transform: translateY(0px);margin-top: 15px;}
h2 {font-size: 30px;}	
.word-wart img {max-width: 100%;}
img.stake-confinednde.mt-5.pt-5.mb-5.pb-4 {margin: 0px !important;padding: 28px 0px 3px !important;}
section.bg-sky.trading-last-section .col-lg-6.py-5.mt-4 {padding-top: 7px !important;padding-bottom: 20px !important;}
.des {font-size: 14px;line-height: 21px;margin: 9px 0 -8px;}
.scantodownloiad {font-size: 25px;margin-left: 15px;}
img.mt-00geg10 {margin-top: 3px;}
img.scaner.mr-4 {width: 100px;}
img.ml-neg-22 {margin-bottom: 0;margin-right: 0;transform: translateY(0px);margin-top: 45px;width: 58px;}
.logoexchange img {padding: 3px;margin: 0px !important;width: 50%;}
section.exchnages.py-5 h2 {text-align: center;margin-bottom: 21px;}
section.collaboration.py-5 img.img-fluid {margin-bottom: 0px;margin-top: 14px;}
section.collaboration.py-5 .row .col-lg-6, section.collaboration.py-5 .row .col-lg-4 {width: 50%;padding: 0px 5px;}
img.list-icon {width: 55px;}
img.btr-trasform21 {max-width: 100%;}
ul.list-des-cst li {font-size: 15px;line-height: 18px;gap: 4px;margin-bottom: 2px;}
.d-flex.simple-step img.two-vector {max-width: 95px;}
.text_step {font-size: 27px;line-height: normal;max-width: 132px;margin-bottom: -6px;}
ul.simmple-list-cst li img.img-fluid.store-img {max-width: 60px;}
ul.simmple-list-cst li span {padding: 15px 0px 15px 42px;}
ul.simmple-list-cst li {font-size: 17px !important;margin-bottom: 5px;}
section.smarter-way.pt-5.light-grey {padding-bottom: 45px;}
.text-center.mt-geg-center {
    margin-top: 0;
    display: none;
}
.header-banner-section .container {
    max-width: 100%;
}
section.smarter-way.pt-5.light-grey {
    padding-top: 0px !important;
}
.d-flex.simple-step {
    justify-content: center;
}
.btr-230 {
    display: none;
}
img.coin_cartoon {margin-bottom: 0;}
img.waves-vecctor.img-fluid {margin-bottom: -0px;}
}

@media(min-width:1025px) and (max-width:1600px){
img.img-fluid.phone-mockup {
    margin: -83px 0px -105px;
}
}

@media(min-width:768px) and (max-width:991px){
	
ul.simmple-list-cst li img {
    width: 70px;
}
ul.simmple-list-cst li {
    font-size: 18px;
}
ul.simmple-list-cst li span {
    padding-left: 40px;
}	
img.coin_cartoon {margin-bottom: 0;}	
.text-right.pos-abslute {
    text-align: center;
    margin-top: 0;
    padding-bottom: 30px;
}
.text_step {
    font-size: 40px;
    line-height: normal;
}
	
.text-right.pos-abslute img {max-width: 120px;}	
img.mt-00geg10 {margin-top: 0px;}	
.img-circle-bx:before {width: 150px; height: 150px;}
.card-title h3 {font-size: 18px;line-height: 22px;}
.card-title img {height: 102px;}
}




@media(min-width:768px) and (max-width:1600px){
	.header-banner-section .container {
    max-width: 90%;
}

img.ing-fluid.logo-eranworld {width: 36vw;}	
.login-btn a {min-width: 12vw;height: 4vw;line-height: 3.8vw;font-size: 2.2vw;}	
.row.medialove-brand {margin-top: 2px;}	
.threeinone-col img {max-width: 290px;}	
.text-center.buter-img01 {margin-top: -72px;}
.row.medialove-brand .d-flex.flex-wrap img {width: 168px;}
section.threeinone {padding-bottom: 40px;}
h2 {font-size: 36px;}
.des-cst {font-size: 18px;}
img.coin_cartoon {max-width: 100%;}

img.waves-vecctor.img-fluid { margin-bottom: 0;}
.logoexchange img {padding: 8px;width: 274px;margin: 0px !important;}
.word-wart img {max-width: 100%;}
h4.blue-bg-card {font-size: 23px;}



.des-contetn {font-size: 17px; margin-bottom: 26px;}

img.two-vector {
    width: 39% !important;
}

img.mt-neg-23 {
    display: none;
}


section.smarter-way.pt-5.light-grey {padding-bottom: 34px;}


}